body
{
    background-color: #626f85;
    color: white;
    width: available;
}

#logo
{
    margin-left: 50px;
    margin-right: 50px;
    float: left;
}

#container
{
    width: available;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

#map
{
    float: left;
    margin-top: 50px;
    margin-right: 2%;
    height: 600px;
    width: 60%;
}

#weather
{
    background-color: #626f85;
    float: left;
    margin-top: 50px;
    height: 600px;
    width: 38%;
}

#stats
{
    margin-top: 50px;
}

#distance
{
    margin-left: 50px;
}

#temperature
{
    margin-left: 50px;
}

.navbar-brand
{
    font-size: 24px;
    font-weight: bold;
}

.my-custom-scrollbar
{
    position: relative;
    height: 600px;
    overflow: auto;
}

.table-wrapper-scroll-y
{
    display: block;
}


